<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#regist {
	position : relative;
	padding : 5% 20%;
}

</style>

</head>
<!-- Bootstrap core CSS -->
<link href="/Resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

<!-- Custom styles for this template -->
<link href="/Resources/css/landing-page.min.css" rel="stylesheet">
<link href="/Resources/css/example.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>

<script src="https://unpkg.com/vue"></script>


<body>
	<!--                    navigation end                     -->
	<div id='registPage'>	
		<div v-html='navRef'></div>
	
	<div id='regist'>
		<h2>질문 수정하기</h2>
		<form action="" method="post" @submit.prevent="updateQna" >
			<p>제목 : <input type='text' v-model='title'></p>
			<p>카테고리 : 
			<select v-model='category'>
				<option value='회원 문의'>회원 문의</option>
				<option value='서비스 이용 및 기타'>서비스 이용 및 기타</option>
			</select></p>
			<p>작성자 : <input type='text' v-model='mid' readonly="readonly"></p>
			<p>질문 내용 : <textarea rows="10" cols="100" v-model='question'></textarea></p>
			<input type='submit' value='수정하기'>
		</form>
	</div>
	
	</div>

<script type="text/javascript">
var app = new Vue({
	el : '#registPage',
	data() {
		return {
			seq : '',
			title : '',
			category : '',
			mid : '',
			question : '',
			navRef : ''
		}
	},
	mounted () {
		axios
      	.get('http://localhost:8080/qna/nav')
      	.then(response => (this.navRef = response.data))
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
      
      axios
      .get('http://localhost:8080/qna/getQna')
      .then(response => { 
    	  this.seq = response.data.qna.seq;
    	  this.title = response.data.qna.title;
    	  this.category = response.data.qna.category;
    	  this.mid = response.data.qna.mid;
    	  this.question = response.data.qna.question;
		})
      .catch(error => {
    	  console.log(error)
    	  this.errored = true
      })
		.finally(() => this.loading = false)
      
	},
	methods : {
		updateQna() {
			if(app.title == '') {alert('제목을 입력하세요'); return;}
			if(app.category== '') {alert('카테고리를 입력하세요'); return;}
			if(app.mid == '') {alert('작성자를 입력하세요'); return;}
			if(app.question == '') {alert('내용을 입력하세요'); return;}
			
			axios.post('http://localhost:8080/qna/qnaUpdate', {
				seq : app.seq,
				mid : app.mid,
				category : app.category,
				title : app.title,
				question : app.question
			}
			).then(function(response) {
				console.log('axios 다음');
				
				if(response.data.result == true) {
					alert('수정하였습니다.');
					location.href='./QnA.html';
				}
				else alert('실패하였습니다.');
			});
		}
	}
})
</script>

<footer class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a href="#">made by</a></li>
						<li class="list-inline-item">&sdot;</li>
						<li class="list-inline-item"><a href="#">박길성</a></li>
						<li class="list-inline-item">&sdot;</li>
						<li class="list-inline-item"><a href="#">이기인</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">&copy; 서울시 강남구 역삼동
						멀티캠퍼스.</p>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-right my-auto">

				</div>
			</div>
		</div>
	</footer>

</body>
</html>